{% extends "base.html" %}
{% load staticfiles %}
{% block bodyblock %}


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Please create a new user account.</h2>
        </header>
        <div class="row">
            <div class="12u">
                <form method="post">

                    <!-- Form -->
                    <section class="box">
                        <h3>What type of dental professional are you?</h3>

                        <div class="row uniform 50%">
                            <div class="4u 12u(narrower)">
                                <input type="radio" id="user_assistant" name="type" value="assistant">
                                <label for="user_assistant">Dental Assistant</label>
                            </div>
                            <div class="4u 12u(narrower)">
                                <input type="radio" id="user_hygienist" name="type" value="hygienist">
                                <label for="user_hygienist">Dental Hygienist</label>
                            </div>
                        </div>
                    </section>

                    <section class="box">

                        <div class="row uniform 50%">
                            <div class="6u 12u(mobilep)">
                                <input type="email" name="email" id="name" value="" placeholder="Email"/>
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="password" name="password" id="password" value=""
                                       placeholder="Create Password"/>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="row uniform 50%">
                            <div class="3u 12u(mobilep)">
                                <input type="submit" value="Submit" class="fit"/>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </section>
{% endblock %}