{% extends "base.html" %}
{% load staticfiles %}
{% block bodyblock %}


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Please create a new dental office account.</h2>
        </header>
        <div class="row">
            <div class="12u">
                <section class="box">

                    <form method="post">
                        <div class="row uniform 50%">
                            <div class="6u 12u(mobilep)">
                                <input type="email" name="email" id="name" value="" placeholder="Email"/>
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="password" name="password" id="password" value=""
                                       placeholder="Create Password"/>
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="password" name="password" id="password" value=""
                                       placeholder="Verify Password"/>
                            </div>
                        </div>
                        {% csrf_token %}
                        <div class="row uniform 50%">
                            <div class="3u 12u(mobilep)">
                                <input type="submit" value="Submit" class="fit"/>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}