{% extends "base.html" %}
{% load staticfiles %}
{% block bodyblock %}


    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Please log into your account.</h2>
        </header>
        <div class="row">
            <div class="12u">

                <!-- Form -->

                <section class="box">

                    <form method="post">
                        {% csrf_token %}

                        <div class="row uniform 50%">
                            <div class="6u 12u(mobilep)">
                                <input type="text" name="username" id="name" value="" placeholder="username"/>
                            </div>
                            <div class="6u 12u(mobilep)">
                                <input type="password" name="password" id="password" value=""
                                       placeholder="Enter Password"/>
                            </div>
                        </div>
                        <div class="row uniform 50%">
                            <div class="3u 12u(mobilep)">
                                <input type="submit" value="Submit" class="fit"/>
                            </div>
                        </div>
                    </form>
                </section>
                </div>
            </div>
    </section>
{% endblock %}