{% extends "user_base.html" %}
{% load staticfiles %}
{% block bodyblock %}

    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Welcome {{ first_name }}!</h2>

            <p><a href="#user_calendar" class="">See your calander</a></p>
        </header>

        <!-- Form -->
        <div class="row">
            <div class="6u 12u(mobilep)">

                <section class="box">
                    <h3>Days Scheduled</h3>

                    <p>You currently have {{ number_of_events }} days scheduled.</p>

                    <div class="table-wrapper">
                        <table id="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Office</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody id="event_table">
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="6u 12u(mobilep)">
                <section class="box">
                    <h3>Days Available</h3>

                    <p>You are currently available for {{ days_available }} days.<a href="#user_calendar" class=""> Add
                        More</a></p>

                    <div class="table-wrapper">
                        <table id="available_table">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="availability_body">
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>


    <div id="openModal" class="modalDialog">
        <div>
            {#            <a href="#close" title="Close" class="close">X</a>#}

            <h2>Commit to this day?</h2>

            <p>Are you sure you want to commit to working at this office on this day?</p>

            <ul class="actions">
                <li><span onclick="confirmDate()" class="button">Yes, Commit</span></li>
                <li><a href="#close" class="button">No</a></li>
            </ul>
        </div>
    </div>


    <A name="user_calendar"></A>
    <section class="container">
        <section class="box">
            <h3>What days are you available?</h3>

            <div ng-app="myApp">
                <div ng-controller="demoController">
                    <multiple-date-picker sunday-first-day="true" days-selected="selectedDays"
                                          day-click="dayClick"/>
                    {#                    <multiple-date-picker sunday-first-day="true" days-selected="selectedDays" xxxdays-selected="{{ cal_days_selected|safe }}"#}
                    {#                                          day-click="dayClick"/>#}
                </div>
            </div>
        </section>
    </section>

    {#    ///*This next script is to place the info into the left side table.(Days scheduled)*///#}
    <script>

        var event_output = {{ event_output|safe }};
        var selectedDate = undefined;
        var selectedId = undefined;
        function confirmDate() {
            user_accept_event(selectedDate, selectedId)

        }

        function rememberDate(date, id) {
            selectedDate = date;
            selectedId = id;
            console.log(date)
        }
        {#        Creates the rows for dates and offices that requested user.#}
        var table = document.getElementById("event_table");
        function addRow(object) {
            {#            console.log(object.date)#}
            var row = document.createElement("tr");
            row.innerHTML = "<td>" + object.date
            + "</td><td>" + object.office_name + "</td>"
            {#            + "</td><td>" + "<span class='link_accept' onclick='user_accept_event(this,\"" + object.date + "\", " + object.id + ")' >Accept?</span>";#}
            + "</td><td>" + "<a href='#openModal' onclick='rememberDate(\"" + object.date + "\", " + object.id + ")'> <span class='link_accept' >Accept?</span></a>";
            table.appendChild(row);
        }

        {#        ---------------------------------------------------------------------------------#}
        {#        Converts the date to the correct date based on the useres timezone offset.#}
        var tempDate = new Date();
        var minutes_from_gmt = tempDate.getTimezoneOffset();
        var seconds_in_min = 60;
        var millis_in_seconds = 1000;
        var ts_delta = minutes_from_gmt * seconds_in_min * millis_in_seconds;


        {#        For every event the user has been requested for this loop adds the row for the office name and date.#}
        for (var i = 0; i < event_output.length; i++) {
            var da = event_output[i];
            var d = new Date(da.date);
            console.log(d);
            //Turns date to a json string
            var json_strigify = JSON.stringify(d);
            console.log(json_strigify);
            //Turns json string date to a ISO Date
            var dateStr = JSON.parse(json_strigify);
            console.log(dateStr);
            //Turns ISO date to a timestamp
            var date = new Date(dateStr);
            var date_in_milliseconds = date.getTime();
            console.log(date_in_milliseconds);
            //Adds the timezone difference to timestamp date
            var final = date_in_milliseconds + ts_delta;
            console.log(final);
            //Turns timestamp back to a readable date
            var output_date = new Date(final);
            addRow({"date": output_date.toLocaleDateString(), "office_name": da.office_name});
        }
        {#        ---------------------------------------------------------------------------------#}


        {#        This function allows the user to accept an event.#}
        function user_accept_event(date, id) {
            console.log(date);
            var formData = new FormData();
            formData.append("date", date);
            formData.append("id", id);
            var request = new XMLHttpRequest();
            request.open("POST", "/user_accept_event/");
            request.send(formData);
            window.location = "#"
        }

    </script>


    {#Availability Table#}
    <script>
        var dates_available = {{ days_selected|safe }};
        {#        console.log(dates_available);#}

        var available_table = document.getElementById("availability_body");
        {#        This function adds the rows in the availability table.#}
        function add_available_row(object) {
            var row = document.createElement("tr");
            row.innerHTML = "<td colspan=2>" + object.date
            + "</td><td>" + "<span class='link_remove' onclick='remove_date(this,\"" + object.date + "\", " + object.id + ")' >Remove</span>";
            available_table.appendChild(row);

        }
        {#        This function removes the dates available by id.#}
        function remove_date(element, date, id) {
            element.parentElement.parentElement.remove();
            {#            console.log(element.parentElement.parentElement.children[0]);#}
            var formData = new FormData();
            formData.append("id", id);
            var request = new XMLHttpRequest();
            request.open("POST", "/remove_date_by_id/");
            request.send(formData);

        }

        var tempDate = new Date();
        var minutes_from_gmt = tempDate.getTimezoneOffset();
        var seconds_in_min = 60;
        var millis_in_seconds = 1000;
        var ts_delta = minutes_from_gmt * seconds_in_min * millis_in_seconds;
        {#        var final_dates = [];#}
        {#This for loop adds the correct timezone offset and displays it in the users availability table.#}
        for (var i = 0; i < dates_available.length; i++) {
            var da = dates_available[i];
            var ts = parseInt(da.timestamp);

            var sourceDate = new Date(ts);
            var ts_output = ts + ts_delta;
            var output_date = new Date(ts_output);
            {#            final_dates = ts_output;#}
            {#            console.log(final_dates);#}
            add_available_row({"id": da.id, "date": output_date.toLocaleDateString()});

        }
    </script>

{% endblock %}