{% extends "user_base.html" %}
{% load staticfiles %}
{% block bodyblock %}

    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Welcome {{ user.first_name }}!</h2>

            <p><a href="#user_calendar" class="">See your calander</a></p>
        </header>

        <!-- Form -->
        <div class="row">
            <div class="6u 12u(mobilep)">

                <section class="box">
                    <h3>Days Scheduled</h3>

                    <p>You currently have {{ number_of_events }} days scheduled.</p>

                    <div class="table-wrapper">
                        <table id="table">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Office</th>
                                <th>Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Something</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Nothing</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Something</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="6u 12u(mobilep)">
                <section class="box">
                    <h3>Days Available</h3>

                    <p>You are currently available for {{ days_available }} days.<a href="#user_calendar" class=""> Add
                        More</a></p>

                    <div class="table-wrapper">
                        <table id="available_table">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="availability_body">
                            {#                            <tr>#}
                            {#                                <td>Something</td>#}
                            {#                                <td>Ante turpis integer aliquet porttitor.</td>#}
                            {#                                <td>29.99</td>#}
                            {#                            </tr>#}
                            {#                            <tr>#}
                            {#                                <td>Nothing</td>#}
                            {#                                <td>Vis ac commodo adipiscing arcu aliquet.</td>#}
                            {#                                <td>19.99</td>#}
                            {#                            </tr>#}
                            {#                            <tr>#}
                            {#                                <td>Something</td>#}
                            {#                                <td> Morbi faucibus arcu accumsan lorem.</td>#}
                            {#                                <td>29.99</td>#}
                            {#                            </tr>#}
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <A name="user_calendar"></A>
    <section class="container">
        <section class="box">
            <h3>What days are you available?</h3>
            <div ng-app="myApp">
                <div ng-controller="demoController">
                    <multiple-date-picker sunday-first-day="true" days-selected="{{ cal_days_selected|safe }}"
                                          day-click="dayClick"/>
                </div>
                {#<form method="post" action="/add_date/">#}
                {#<input id="date_available" name="date_available"><input type="submit">#}
                {#{% csrf_token %}#}
                {#</form>#}
            </div>
        </section>
    </section>
    <script>
        var table = document.getElementById("table");
        function addRow(object) {
            var row = document.createElement("tr");
            row.innerHTML = "<td>" + object.name
            + "</td><td>" + object.day
            + "</td><td>" + object.rate + "</td>";
            table.appendChild(row);
        }
        addRow({name: "Bob", day: "12.11.15", rate: 123})
        addRow({name: "Bob", day: "12.11.15", rate: 123})
        addRow({name: "Bob", day: "12.11.15", rate: 123})
        addRow({name: "Bob", day: "12.11.15", rate: 123})
        addRow({name: "Bob", day: "12.11.15", rate: 123})
        addRow({name: "Bob", day: "12.11.15", rate: 123})
    </script>

    <script>
        var dates_available = {{ days_selected|safe }};

        var available_table = document.getElementById("availability_body");
        function add_available_row(object) {
            var row = document.createElement("tr");
            row.innerHTML = "<td colspan=2>" + object.date
            + "</td><td>" + "<span onclick='remove_date(this,\"" + object.date + "\", " + object.id + ")' >Remove</span>";
            available_table.appendChild(row);

        }
        function remove_date(element, date, id) {
            element.parentElement.parentElement.remove();
            console.log(element.parentElement.parentElement.children[0]);
            console.log(date);
            console.log(id);

            var formData = new FormData();
            formData.append("id", id);
            console.log(formData)

            var request = new XMLHttpRequest();
            console.log(formData)

            request.open("POST", "/remove_date_by_id/");
            request.send(formData);

        }
        for (var i = 0; i < dates_available.length; i++) {
            var da = dates_available[i];
            console.log(da);
            var ts = parseInt(da.timestamp);
            var d = new Date(ts);
            add_available_row({"id": da.id, "date": d.toString()});
        }
    </script>

{% endblock %}