{% extends "user_base.html" %}
{% load staticfiles %}
{% block bodyblock %}

    <!-- Main -->
    <section id="main" class="container">
        <header>
            <h2>Welcome {{ user.first_name }}!</h2>

            <p><a href="#user_calendar" class="">See your calander</a></p>
        </header>

        <!-- Form -->
        <div class="row">
            <div class="6u 12u(mobilep)">

                <section class="box">
                    <h3>Days Scheduled</h3>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Office</th>
                                <th>Rate</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Something</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Nothing</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Something</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

            <div class="6u 12u(mobilep)">
                <section class="box">
                    <h3>Days Available</h3>

                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th> .</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Something</td>
                                <td>Ante turpis integer aliquet porttitor.</td>
                                <td>29.99</td>
                            </tr>
                            <tr>
                                <td>Nothing</td>
                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                <td>19.99</td>
                            </tr>
                            <tr>
                                <td>Something</td>
                                <td> Morbi faucibus arcu accumsan lorem.</td>
                                <td>29.99</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </section>
<A name="user_calendar"></A>
<section class="container">
<section class="box">
<div ng-app="myApp">
<div ng-controller="demoController">
<multiple-date-picker sunday-first-day="true" days-selected="{{ days_selected|safe }}" day-click="dayClick"/></div>
</div>
</section>
</section>

{% endblock %}